{% load static %}
<hr />
<div class="container-fluid text-center">
  <h2>X SEMANA DE QUÍMICA</h2>
  <br>
  <div class="row slideanim">
    <div class="col-sm-4 text-center">
      <a
        href="{% static 'core/pdf/programacao.pdf' %}"
        class="btn btn-default btn-lg"
        download="PROGRAMAÇÃO-COMPLETA-DA-X-SEMANA-DE-QUÍMICA-NA-UnB">
        PROGRAMAÇÃO
      </a>
    </div>
    <div class="col-sm-4 text-center">
      <a
        href="{% static 'core/pdf/folder.pdf' %}"
        class="btn btn-default btn-lg"
        download="folder">
        FOLDER
      </a>
    </div>
    <div class="col-sm-4 text-center">
      <a
        href="https://l.facebook.com/l.php?u=https%3A%2F%2Fdocs.google.com%2Fforms%2Fd%2Fe%2F1FAIpQLSfI9KPCVU8F8-iuCGTIE7rzf_RAoJn_Sih-l02T4PszRcv_wg%2Fviewform&h=ATPETdMEsWlCnt_Yr39cIx0_LObFAubknKA2fc8w-cAagZ03dpseMRolWMLy4MRTd1CSSiaVhTS80TLRTgQWYd_oPjDcS7SXcW52WTnTA9ONnm0dVL0cIIya9tItYsC2YDC4xUJEZDbvbyuOD7-O_g"
        class="btn btn-default btn-lg"
        target="_blank">
        CADASTRO AQUI
      </a>
    </div>
  </div>
</div>
